.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px; /* Set a maximum width for the container */
  width: 100%;
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 30px;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 20px;
}

button.toggle-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
}

button.toggle-btn:hover {
  background-color: #2980b9;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  input {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

.top{
  border-bottom: 0.5px solid black;
  padding: 0.5rem;
}
.color{
  background-color: lightpink;
  padding: 0.2rem;
  border-radius: 10px;
}
.button-right{
  background-color: lightgray;
  padding: 0.2rem;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 600;
}

/* Welcome.css */

.welcome-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.top {
  margin-bottom: 20px;
}

.welcome-form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .welcome-container {
      padding: 10px;
  }

  .welcome-form {
      padding: 15px;
  }
}
.gold{
  background-color: goldenrod;
  border: 1px solid goldenrod;
}
/* theme */
.light-theme {
  /* Add your light theme styles here */
}

.dark-theme {
  /* Add your dark theme styles here */
  background-color: #1a1a1a;
  color: #ffffff;
}

